<<<<<<< HEAD
<<<<<<< HEAD
html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
=======
=======
>>>>>>> 4343afd080ad311ad24ba15bcf22d8c418cb95d9

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
}

#map-canvas {
  max-width: 960px;
  min-height: 500px;
  width: 90%;
  margin: 0 auto;
}


<<<<<<< HEAD
>>>>>>> 4343afd080ad311ad24ba15bcf22d8c418cb95d9
=======
>>>>>>> 4343afd080ad311ad24ba15bcf22d8c418cb95d9
