doctype html
head
  title NYU Message
  link(rel="icon", href="/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  block scripts
body
  nav.navbar.navbar-default
    h1 NYU Building Map
    if user
      .right
        span=user.username
        a(href="/logout") logout
  if user
    .hidden(data-user=user)
  block content
